* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$color: rgb(207, 207, 207);
$border-color: rgb(100, 100, 100);
$bg-color-search: rgb(21, 21, 21);
$bg-shadow: rgb(43, 43, 43);
$bg-color-register: rgb(64, 64, 64);
$bg-color-button-hover: rgb(15, 33, 68);
$bg-color-button: rgb(88, 94, 103);
$warning-color: rgb(198, 17, 0);

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: $bg-color-search;
}

.contain {
  width: 100%;
  margin: auto;
  max-width: 800px;
}

.register {
  position: relative;
  top: 30%;
  width: 50%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $bg-color-register;
  padding: 15px 10px 15px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 50px 10px $bg-shadow;

  &__icon {
    position: absolute;
    right: 10px;
    top: 8%;
    height: 43px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $border-color;
    font-size: 18px;
    background-color: $bg-color-search;

    &:hover {
      color: $bg-color-register;
    }
  }

  &__search {
    width: 100%;
    height: 50px;
    padding: 3px 8px;
    font-family: "Open Sans";
    background-color: $bg-color-search;
    // border: 2px solid $border-color;
    border: none;

    border-radius: 2px;
    color: $color;
    font-size: 17px;
    outline: none;
  }

  &__input-text {
    position: relative;
    bottom: 3px;
    left: 3px;
    color: rgba(186, 186, 186, 0.677);
    font-family: "Open Sans";
    font-size: 14px;

    // @include warning();
  }

  &__box {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
  }

  &__box-input {
    width: 100%;
    height: 40px;
    padding: 3px 5px;
    font-family: "Open Sans";
    background-color: $bg-color-search;
    border: 1px solid $bg-color-search;

    border-radius: 2px;
    color: $color;

    outline: none;
  }

  &__button {
    grid-column: 1 / 3;
    width: 100%;
    height: 40px;
    padding: 3px 5px;
    font-family: "Open Sans";
    background-color: $bg-color-button-hover;
    border: none;
    transition: all 0.1s ease-in-out;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.677);
    opacity: 0.9;
    // text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 17px;
    outline: none;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.9;
    }
  }

  &__password-box {
    position: relative;
  }

  &__password-show,
  &__password-hide {
    position: absolute;
    right: 1px;
    top: 50%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $border-color;
    font-size: 20px;
    background-color: $bg-color-search;

    &:hover {
      color: $bg-color-register;
    }
  }

  &__password-box i:nth-child(1) {
    display: none;
  }

  &__password-box i:nth-child(2) {
    display: block;
  }
}

@media (max-width: 500px) {
  .register {
    padding: 10px 5px;
    top: 3%;
    &__box {
      grid-template-columns: auto;
    }
  }
}
